<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="endpoint" class="common.ToPrinterReportEndpoint">
        <constructor-arg ref="printer"/>
    </bean>

    <bean id = "printer" class = "common.DefaultPrinter">
        <constructor-arg name="printerCode" value="pseudo-random-uuid-code"/>
    </bean>


</beans>
